<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>manageStudent</title>-->
<!--</head>-->
{% extends 'ADMININDEX.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>MANAGE STUDNTS</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">STUDENT NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">DEPARTMENT</th>
        <th scope="col">COURSE</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.depId.name}}</td>
        <td>{{i.cid.name}}</td>
        <td><p><a href="{% url 'editStudent' id=i.id %}">EDIT</a></p>
        <p><a href="{% url 'delStudent' id=i.lid.id %}">DELETE</a></p></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="5"><center><a href="addStudent">ADD</a></center></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}